{% extends "base.html" %}


{% block body %}

<div class="container">

    <section class="breadcrumbs">
        <a href="{{url('home')}}">Search Home </a> &gt; Document Details
    </section>

    <section class="content">
    <h1><em>Document</em></h1>

    <h2>{{document.title|default(get_filename(document.original_file.name))}}</h2>

    <h2>Details</h2>
    <p>
        <ul>
            <li>Agency: {{document.release_agency_slug|upper}}</li>
            <li><a href="{{url('contact_landing', document.release_agency_slug)}}">Agency Contact Information</a></li>
            <li>Date Created: {{document.date_created|default("Not Available")}}</li>
            <li>Date Released: {{document.date_released|default("Not Available")}}</li>
            <li>Pages: {{document.pages|default("Not Available")}}</li>
        </ul>
    </p>

    {% if document.original_file %}
        <object data="{{ document_location }}" type="application/pdf" width="100%" height="100%">
            View the <a href="{{ document_location }}">original document</a>
        </object>
        <p>
            <a href="{{ document_location }}">Download PDF</a>
        </p>
    {% endif %}

    {% if similar_documents %}
        <h2> Similar documents (more like this one): </h2>

            {% for similar_doc in similar_documents %}
                {% include 'docusearch/more_like_this.html' %}
            {% endfor %}

    {% endif %}

    </section>
</div>

{% endblock %}
