debug.log

*__pycache__*
*.pyc
*.pyo
*.DS_Store
*.swp

# SCSS/SASS
.sass-cache
*/static/sass/bourbon
*/static/sass/neat
.webassets-cache

local_settings.py

/todo.txt

/deploy/config.py
/log

docs/build
