
# Which environment? (defaults to development)
DJANGO_SETTINGS_MODULE=foia_hub.settings.dev

# Use with foreman or CloudFoundry.
VCAP_APP_PORT=8000

# Change this in production.
FOIA_SECRET_SESSION_KEY="CHANGE THIS"

# Replace with a Google Analytics ID in production
FOIA_ANALYTICS_ID=""

# Enable the app's own webform. (Not recommended.)
# FOIA_SHOW_WEBFORM=true

# To use a sqlite3 DB:
DATABASE_URL="sqlite:///./foia.db"

# To use Postgres:
# DATABASE_URL=postgres://username:password@host:5432/whatever
