
# Change this in production
FOIA_SECRET_SESSION_KEY="CHANGE THIS"

# Replace with a Google Analytics ID in production
FOIA_ANALYTICS_ID=""

# Whether or not to link to the app's webform (should stay false).
FOIA_SHOW_WEBFORM=false

# To use a sqlite3 DB:
FOIA_DB_ENGINE="django.db.backends.sqlite3"
FOIA_DB_NAME="foia.db"

# To use Postgres:
# FOIA_DB_ENGINE="django.db.backends.postgresql_psycopg2"
# FOIA_DB_NAME="foia"
# FOIA_DB_USER="foia"
# FOIA_DB_PASSWORD="CHANGETHIS"
# FOIA_DB_HOST="localhost"
# FOIA_DB_PORT="5432"
