# Copy this file to .env so that you can use tools like foreman or autoenv to
# manage these environment variables.

# Which environment? (defaults to development)
DJANGO_SETTINGS_MODULE=foia_hub.settings.dev

# Use with foreman or CloudFoundry.
VCAP_APP_PORT=8000

# Change this in production.
FOIA_SECRET_SESSION_KEY="CHANGE THIS"

# Replace with a Google Analytics ID in production
FOIA_ANALYTICS_ID=""

# Enable the app's own webform. (Not recommended.)
# FOIA_SHOW_WEBFORM=true

# To use a sqlite3 DB:
# DATABASE_URL="sqlite:///./foia.db"

# To use PostgreSQL:
DATABASE_URL="postgres://username:password@host:5432/databasename"


# If you use an S3 bucket for serving static files in production, you'll need
# some credentials.
FOIA_AWS_ACCESS_KEY_ID="CHANGE THIS"
FOIA_AWS_SECRET_ACCESS_KEY="CHANGE THIS"


# New Relic Key and Toggle, if there is a key New Relic will run
# You'll need to install the New Relic agent available here:
# https://docs.newrelic.com/docs/agents/python-agent/getting-started/python-agent-quick-start
# NEW_RELIC_APP_NAME=`app name`
# NEW_RELIC_LICENSE_KEY=`licence key`
