# Django, using PostgreSQL
Django==1.7
psycopg2==2.5.3
django-jinja==1.0.4
django-jsonfield==0.9.13

django-cors-headers
restless==2.0.1

# PyYAML is for contact loading
PyYAML==3.11

# deployed/hosted with gunicorn
gunicorn
dj-static

django-localflavor

# Used for Krang
django-haystack
elasticsearch
boto
# @see http://code.larlet.fr/django-storages/issue/155/python-3-support
-e git+https://github.com/coagulant/django-storages-py3.git@py3#egg=django-storages
