# Django, using PostgreSQL
Django==1.7
psycopg2==2.5.3
django-jinja==1.0.4
django-jsonfield==0.9.13

django-cors-headers
restless==2.0.1

# PyYAML is for contact loading
PyYAML==3.11

# deployed/hosted with gunicorn
gunicorn
dj-static

django-localflavor

# only used in development, but app crashes in dev without it
django-debug-toolbar
