@import "neat/neat-helpers";

$max-width: 1024px;
// $visual-grid: true;

// Neat Breakpoints
$grid-columns: 24;

$extra-small-screen: 320px;
$small-screen: 480px;
$medium-screen: 640px;
$large-screen: 980px;

$extra-small: new-breakpoint(max-width $extra-small-screen 4);
$small: new-breakpoint(max-width $small-screen 4);
$medium: new-breakpoint(min-width $medium-screen 12);
$large: new-breakpoint(min-width $large-screen 24);
