// Typography
$sans-serif: proximanova, "proxima-nova", "proxima nova", "Open Sans","Gill Sans MT","Gill Sans", Corbel, Arial,sans-serif;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 1.5;
$h3-font-size: $base-font-size * 1.125;
$h4-font-size: $base-font-size;
$h5-font-size: $base-font-size;
$h6-font-size: $base-font-size;

//Font Weights
$header-font-weight: 600;
$base-font-weight: 400;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// openFOIA Colors
$dark-gray: #323A45; // Text/Rules
$gray: #777777; // Text 2
$blue: #0067BA; // Links
$dark-blue: #005184;
$aqua-blue: #00BFE7; // Graphics
$medium-blue: #0096B5; // Rollover
$light-blue: #CDEAF0; // Highlight
$light-gray: #EAEDF1; // Background
$medium-gray: #CCCCCC; // Rules 2
// for submit button hover/focus background
$the-other-blue: #92D6E5;
$light-light-gray: #f7f8f9;

// Background Color
$base-background-color: $light-gray;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: $dark-blue;
$base-button-color: $aqua-blue;
$hover-button-color: $aqua-blue;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;

// Border color
$base-border-color: $medium-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

// for @include prefixer()
$vendor-prefixes: webkit moz ms o spec;
