{% if profile.office_url %}
      <div class="website resource_type">
        <div class="icon">
          <span class="fa fa-laptop"></span>
        </div>
        <div class="subdetails">
          <h3>Website</h3>
          <ul>
            <li>
              <a class="agency-site" href="{{ profile.office_url }}">
                {{ get_domain(profile.office_url) }}
              </a>
            </li>
          </ul>
        </div>
      </div>
{% endif %}

{% if profile.simple_processing_time or profile.complex_processing_time %}
<div class="processing resource_type">
  <div class="icon">
    <span class="fa fa-clock-o"></span>
  </div>
  <div class="subdetails">
    <h3>Median processing time</h3>
    <ul>
      {% if profile.simple_processing_time %}
        <li>
          {{ profile.simple_processing_time|int }} working days for simple requests
        </li>
      {% endif %}

      {% if profile.complex_processing_time %}
        <li>
          {{ profile.complex_processing_time|int }} working days for complex requests
        </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endif %}

{% if profile.phone or profile.public_liaison_name %}
      <div class="phone resource_type">
        <div class="icon">
          <span class="fa fa-user"></span>
        </div>
        <div class="subdetails">
          <h3>Have questions?</h3>
          <ul>
            <li>FOIA Requester Service Center<a class="servicecenter--phone" href="tel:{{profile.phone }}">
              {{ profile.phone }}
            </a></li>

            {% if profile.public_liaison_name %}
            <li>{{profile.public_liaison_name}}, Public Liaison

            {% if profile.public_liaison_phone %}
                <a class="liaison--phone" href="tel:{{profile.public_liaison_phone}}">
                  {{ profile.public_liaison_phone}}
                </a>
            {% endif %}

            {% if profile.public_liaison_email %}
                {{ profile.public_liaison_email }}
            {% endif %}

            </li>
            {% endif %}
          </ul>
        </div>
      </div>
{% endif %}
