 
{% if profile.foia_libraries %}
    <div class="reading_room resource_type">
        <div class="icon">
            <span class="fa fa-bookmark"></span>
        </div>
        <div class="subdetails">
            {% if profile.foia_libraries|length > 1 %}
            <h3>FOIA Libraries</h3>
            {% else %}
            <h3>FOIA Library</h3>
            {% endif %}
            {% for r in profile.foia_libraries %}
                <ul>
                    <li> <a href="{{r.url}}">{{r.link_text}}</a></li>
                </ul>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if profile.public_liaison_name %}
  <div class="liaison resource_type">
    <div class="icon">
      <span class="fa fa-question-circle"></span>
    </div>
    <div class="subdetails">
      <h3>Public liaison</h3>
      <ul>
        <li>{{ profile.public_liaison_name }}</li>
        {% if profile.public_liaison_phone %}
          <li>{{ profile.public_liaison_phone }}</li>
        {% endif %}
        {% if profile.public_liaison_email %}
          <li>{{ profile.public_liaison_email }}</li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endif %}

{% if profile.office_url %}
      <div class="website resource_type">
        <div class="icon">
          <span class="fa fa-laptop"></span>
        </div>
        <div class="subdetails">
          <h3>Website</h3>
          <ul>
            <li>
              <a href="{{ profile.office_url }}">
                {{ get_domain(profile.office_url) }}
              </a>
            </li>
          </ul>
        </div>
      </div>
{% endif %}

{% if profile.phone %}
      <div class="phone resource_type">
        <div class="icon">
          <span class="fa fa-phone"></span>
        </div>
        <div class="subdetails">
          <h3>Phone</h3>
          <ul>
            <li><a href="tel:{{profile.phone }}">
              {{ profile.phone }}
            </a></li>
          </ul>
        </div>
      </div>
{% endif %}


