{% extends "base.html" %}

{% block head %}
{{ super() }}
  <script src="{{ static('js/contacts_index_gatracker.js') }}"></script>
{% endblock %}

{% block class %}agencies{% endblock %}

{% block breadcrumb %}
    {% import 'includes/breadcrumb.html' as breadcrumb %}
    {{breadcrumb.create([(url('agencies'), 'Agencies')]) }}
{% endblock %}

{% block body %}

<!-- Setting up macro, html for agency line can be edited here -->
{% macro format_agency(agency) -%}
<li>
  <div class="agencies--name">
    <h3><a class="agency--link" href="/contacts/{{agency.slug }}">{{ agency.name }}</a></h3>
  </div>
  <div class="agencies--description">
    <p>
      {% if agency.description %}
        {{ agency.description }}
      {% else %}
        Click to find out more about this agency.
      {% endif %}
    </p>
  </div>
</li>
{%- endmacro %}

<div class="container">
  <section class="searchresults">

  {% if agencies %}

    {% if query %}
      <h2>Displaying {{agencies|length}} results for</h2>
      <h1>&ldquo;<em>{{ query }}</em>&rdquo;</h1>

      <section class="searchresults--list">
        <ul>
        <!-- This formats the agency title and description see macro at top -->
        {% for agency in agencies %}
            {{ format_agency(agency) }}
        {% endfor %}
        </ul>
      </section>
    {% else %}
      <h1><em>Federal Agencies</em></h1>
      <ul id="searchresults--index">
          <!--The loop below creates the letter list-->
          {% for letter in agencies|groupby('name.0') %}
          <li><a href="#{{letter.grouper}}">{{letter.grouper}}</a></li>
          {% endfor %}
      </ul>
      {% for letter, agency_list in agencies|groupby('name.0') %}
      <!-- The line below generates the individual letter -->
       <header>
         <h2 class="searchresults--letter" id="{{letter}}" tabindex="-1">{{letter}}</h2>
         <h4 class="searchresults--back"><a href="#searchresults--index">Back to Top <span class="fa fa-arrow-up"></span></a></h4>
       </header>
          <ul>
          <!-- This formats the agency title and description see macro at top -->
          {% for agency in agency_list %}
            {{ format_agency(agency) }}
          {% endfor %}
          </ul>
      {% endfor %}
    {% endif %}
  {% else %}
    <p>
      There are no agencies matching your search.
    </p>
  {% endif %}

  </section>
</div>
{% endblock %}
