{% extends "base.html" %}
{% block class %}agencies{% endblock %}

{% block body %}

{% include "includes/search.html" %}

<div class="container">
  <section class="searchresults">

  {% if agencies %}
  <h2><em>Search results</em></h2>
  
    <ul>
      {% for agency in agencies %}
          <li>
            <div class="agencies--name">
              <h3><a href="/contacts/{{agency.slug }}">{{ agency.name }}</a></h3>
            </div>
            <div class="agencies--description">
              <p>
                {% if agency.description %}
                  {{ agency.description }}
                {% else %}
                  Click to find out more about this agency.
                {% endif %}
              </p>
            </div>
          </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>
      There are no agencies matching your search.
    </p>
  {% endif %}

  </section>
</div>
{% endblock %}