{% extends "base.html" %}
{% block class %}landing{% endblock %}

{% block title %}{{ profile.name }} > Freedom of Information Act{% endblock %}

{% if profile.description %}
    {% block description %}
        {{ profile.description }}
    {% endblock %}
{% endif %}

{% block breadcrumb %}
    {% import 'includes/breadcrumb.html' as breadcrumb %}
    {{breadcrumb.create([(url('contact_landing', profile.slug), profile.name)]) }}
{% endblock %}


{% block body %}

{# 'profile' here is known to be an agency with sub-offices. #}

<div class="container">
  <section class="department department__decentralized">
    <h1 class="department--name"><em>{{ profile.name }}</em></h1>
    <div class="description">
      {% if profile.description %}
        <p>
          {{ profile.description }}
        </p>
      {% endif %}
    </div>

    <section class="details">

      <div class="offices">
        <h2>
          Make your FOIA request directly to the most relevant group or component:
        </h2>

        <ul>
          {% for office in profile.offices %}
            <li>
              <a href="/contacts/{{ office.slug }}">
                {{ office.name }}
              </a>
            </li>
          {% endfor %}
        </ul>

    </section>
  </section>
</div>

{% endblock %}
