{% extends "base.html" %}
{% block body %}

{# 'profile' here is known to be an agency with sub-offices. #}

<header>
  <div class="breadcrumbs">
    <a href="/">
      Search &gt;
    </a>
  </div>
  <h1>{{ profile.name }}</h1>
</header>

<section class="department">
  <section class="description">
    {% if profile.description %}
      <p>
        {{ profile.description }}
      </p>
    {% endif %}
  </section>
</section>

<section class="details">

  <section class="offices">
    <h2>
      Make your FOIA request directly to the most relevant group or component:
    </h2>

    <ul>
      {% for office in profile.offices %}
        <li>
          <a href="/contacts/{{ office.slug }}">
            {{ office.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section class="contact">

    {% if profile.public_liaison_name %}
      <div class="liaison resource_type">
        <h3>Public liaison</h3>
        <ul>
          <li>{{ profile.public_liaison_name }}</li>
          {% if profile.public_liaison_phone %}
            <li>{{ profile.public_liaison_phone }}</li>
          {% endif %}
          {% if profile.public_liaison_email %}
            <li>{{ profile.public_liaison_email }}</li>
          {% endif %}
        </ul>
      </div>
    {% endif %}

    {% if profile.office_url %}
      <div class="website resource_type">
        <h3>Website</h3>
        <ul>
          <li>
            <a href="{{ profile.office_url }}">
              {{ profile.office_url }}
            </a>
          </li>
        </ul>
      </div>
    {% endif %}

  </section>
</section>

{% endblock %}
