{# Simple unordered list of contact info. Assumes `office` is set. #}
<ul>
  {% if office.contact %}
  <li>{{ office.contact }}</li>
  {% endif %}

  {% if office.phone %}
  <li>Phone: {{office.phone}}</li>
  {% endif %}
  {% if office.fax %}
  <li>Fax: {{office.fax}}</li>
  {% endif %}

  {% if office.public_liaison %}
  <li>Public Liaison: {{ office.public_liaison }}</li>
  {% endif %}
  {% if office.service_center %}
  <li>Service Center: {{ office.service_center }}</li>
  {% endif %}

  {% if office.request_form %}
  <li><a href="{{office.request_form}}">Make a request</a></li>
  {% endif %}
  {% if office.emails %}
  <li>Emails: {{ office.emails }}</li>
  {% endif %}
</ul>
