{% extends "base.html" %}

{% block head %}
{{ super() }}
  <script src="{{ static('js/contacts_profile_gatracker.js') }}"></script>
  <script src="{{ static('js/contacts/main.js') }}"></script>
{% endblock %}

{% block class %}landing{% endblock %}

{% block title %}{{ profile.name }} > Freedom of Information Act{% endblock %}

{% if profile.description %}
    {% block description %}
        {{ profile.description }}
    {% endblock %}
{% endif %}

{% block breadcrumb %}
    {% import 'includes/breadcrumb.html' as breadcrumb %}
    {% if profile.is_a == "agency" and not profile.parent %}
        {{breadcrumb.create([
        (url('contact_landing', profile.slug), profile.name),
        ])}}
    {% elif profile.is_a == "agency" and profile.parent %}
        {{breadcrumb.create([
        (url('contact_landing', profile.parent.slug), profile.parent.name),
        (url('contact_landing', profile.slug), profile.name),
        ])}}
    {% else %}
        {{breadcrumb.create([
        (url('contact_landing', profile.agency_slug), profile.agency_name),
        (url('contact_landing', profile.slug), profile.name),
        ])}}
    {% endif %}
{% endblock %}


{% block body %}
{# 'profile' here can be an office, or an agency with no sub-offices. #}

<div class="container">
  <section class="department">
    <div class="department--container">
      <div class="description">
        <h1><em>{{ profile.name }}</em></h1>
        <p>
          {% if profile.description %}
            {{ profile.description }}
          {% else %}
            Here you can find some resources and contact information to file a request with this office.
          {% endif %}
        </p>
      </div>

      <section class="librarynudge">
        <p>
            Before you submit a FOIA request:

            <ul>
                {% if profile.foia_libraries %}
                    <li>
                    Browse the agency's
                    {% for r in profile.foia_libraries %}
                        <a class='foialibrary' href="{{r.url}}">{{r.link_text}}</a>,
                    {% endfor %}
                    or <a class='foiagov--search--link'
                    href="http://search.foia.gov/search?affiliate=foia.gov&m=true">search
                    at FOIA.gov</a> to see if the information you're looking
                    for is already online
                    </li>
                {% endif %}

                {% if profile.office_url %}
                    <li> Check the <a class='agency--site' href="{{ profile.office_url }}">agency's
                    website</a> for instructions on making a request </li>
                {% endif %}
            </ul>
        </p>
      </section>

      <section class="details">

        <h2>Submit a request</h2>

        {% if profile.request_form_url or (profile.emails|length > 0 and show_webform) %}
         <div class="webform contact_type">
            <div class="icon">
                <span class="fa fa-desktop"></span>
            </div>
            <div class="subdetails">
               <h3> Request online </h3>
                <ul>
                    {% if profile.request_form_url %}
                        <li>
                            <a class='request--link' href="{{profile.request_form_url}}">{{profile.request_form_url}}</a>
                        </li>
                    {% elif profile.emails|length>0 %}
                        <li>
                            <a class='request--email' href="{{url('form', slug)}}">Use our web form</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}

        {% if profile.emails %}
          <div class="email contact_type">
            <div class="icon">
              <span class="fa fa-at"></span>
            </div>
            <div class="subdetails">
              <h3>
                Request by email
              </h3>
              <ul>
                {% for email in profile.emails %}
                  <li>
                    <a class='agency--email' href="mailto:{{ email }}">
                      {{ email }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}

        {% if profile.fax %}
          <div class="fax contact_type">
            <div class="icon">
              <span class="fa fa-fax"></span>
            </div>
            <div class="subdetails">
              <h3>Request by FAX</h3>
              <ul>
                <li>{{ profile.fax }}</li>
              </ul>
            </div>
          </div>
        {% endif %}

        <div class="address contact_type">
          <div class="icon">
            <span class="fa fa-envelope-o"></span>
          </div>
          <div class="subdetails">
            <h3>Request by mail</h3>
            <p>
              {% for line in profile.address_lines %}
                {{ line }}<br/>
              {% endfor %}
              {% if profile.street %}
                {{ profile.street }}<br/>
              {% endif %}
              {{ profile.city }}, {{ profile.state }} {{ profile.zip_code }}
            </p>
          </div>
        </div>

      </section><!-- /details -->
    </div><!-- /department--container -->
    <div class="resources">
      {% include 'contacts/contact.html' %}

    </div>
  </section><!--/department-->

  <section class="inaccurate">
    <p>
      Inaccurate information here? Email us at <a class='inaccurateinfo--email' href="mailto:18f-foia@gsa.gov?subject=Inaccurate information for {{profile.slug}}">18f-foia@gsa.gov</a> so we can fix it.
    </p>
  </section>
</div>
{% endblock %}
