{% extends "base.html" %}
{% block body %}

<h1>{{ profile.agency_name }}</h1>

{% if profile.agency_description %}
<p>
  {{ profile.agency_description }}
</p>
{% endif %}

{# This is an agency with one office or a top-level office. #}
{% if profile.offices|length == 1 %}
  {% set office = profile.offices[0] %}

  {% if office.name != profile.agency_name %}
  <p>The {{ office.name }} is part of {{ profile.agency_name }}.</p>
  {% endif %}

  {% include 'contacts/partial_office.html' %}

{# This is an agency with sub-components #}
{% else %}

  {% for office in profile.offices %}
    <h3>{{ office.name }}</h3>

    {% include 'contacts/partial_office.html' %}
  {% endfor %}

{% endif %}

{% endblock %}