{% extends "base.html" %}


{% block body %}
<div id="main">
  <div class="search search__error">
    <div class="container">
        <section class="content">
            <h1><em>404. Not Found.</em></h1>

            <h2>We're sorry, we could not find the page you're looking for. Please make sure the URL is correct.</h2>

            <p>If you're looking for a FOIA contact information, try searching:</p>

            <form class="agency" method="get" action="/agencies/">
              <div class="search--box scrollable-dropdown-menu">
                <form id="search">
                  <div class="search-icon"><span class="fa fa-search"></span></div>
                  {% set search_placeholder = 'Search for an agency by name, abbreviation or keyword.' %}
                  <input id="query" class="typeahead agency" name="query" type="search"
                    placeholder="{{ search_placeholder }}"
                    aria-label="{{ search_placeholder }}"
                    {% if query %}value="{{ query }}"{% endif %}
                    search-type="bigSearch">
                  <input class="submit" type="submit" value="Search">
                </form>
              </div>
            </form>

        </section>
    </div>
  </div>
</div>
{% endblock %}
