{% extends "base.html" %}

{% block body %}
<div class="container">
    <section class="content">
        <div class="about">
            <h1><em>About this Project</em></h1>

            <h2>FOIA Hub aims to improve the FOIA request experience.</h2>
            <p>
            The Freedom of Information Act (FOIA) grants the public (everyone!) the
            right to access information from the federal government. The FOIA process
            requires the public to submit a request for information or records within a
            specific federal agency.
            </p>

            <p>
            FOIA Hub is an online tool to guide users to up-to-date FOIA contact and
            request information across the federal government. It is a work in progress
            by <a href="https://18f.gsa.gov">18F</a>.
            </p>

            <h2>Features</h2>
            <ul>
                <li>
                    <span class="fa fa-phone"></span><h3>Up-to-date contact information</h3>

                    <p>FOIA Hub provides a single, easily searchable source for contact information for FOIA offices within various agencies and components of the United States government. Links are provided to an agency's online FOIA request form where available.</p>
                </li>
                <hr />
                <li>
                    <span class="fa fa-search"></span><h3>Search</h3>

                    <p>Navigating the federal government hierarchy to determine where to
                    submit a FOIA request is not easy. FOIA Hub provides a number of search options to help requesters navigate to the appropriate agency or office within.</p>
                </li>

                <li>
                    <h3>Keyword Search</h3>

                    <p>You can search by various keywords. For example, a search for 'benzene' brings up the Environmental Protection Agency. Or a search for 'criminal laws' brings up the Bureau of Alcohol, Tobacco, Firearms and Explosives.</p>
                </li>

                <li>
                    <h3> Acronym Search </h3>

                    <p>Some agencies are better known by their acronym. You can search for an agency by acronym. 'FBI' brings up the Federal Bureau of Investigation.</p>
                </li>

                <hr />

                <li>
                    <h3><span class="fa fa-book"></span>FOIA Libraries</h3>

                    <p>Many agencies provide oft-requested responsive documents in online libraries, or "reading rooms". It might help a potential requester to check those libraries before submitting a request.</p>
                </li>

                <hr />

            </ul>

            <h2>Feedback</h2>

            <p>We welcome and encourage feedback! Please reach out to us: <a
            href="mailto:18f-foia@gsa.gov">18f-foia@gsa.gov</a></p>

            <hr />

            <h2>More about this project</h2>

            <p>Our work is one of a number of <a href="http://www.whitehouse.gov/sites/default/files/docs/us_national_action_plan_6p.pdf">commitments</a> towards modernizing the Freedom of Information Act. We are currently in the <a href="https://18f.gsa.gov/dashboard/stages/">alpha</a> stage of development. Developers can find additional technical information <a href="/developers">here.</a></p>

            <hr />

        </div>
    </section>
</div>
{% endblock %}
