{% extends "base.html" %}

{% block breadcrumb %}
    {% import 'includes/breadcrumb.html' as breadcrumb %}
    {{ breadcrumb.create([(url('about'), 'About this Project')]) }}
{% endblock %}

{% block body %}
<div class="container">
    <section class="content">
        <div class="about">
            <section id="about">
                <h1><em>About this Project</em></h1>

                <h2>openFOIA aims to improve the FOIA request experience.</h2>

                <p>openFOIA is an online tool that helps users find current
                FOIA contact and request information across the federal
                government. It is a work in progress by the <a
                href="http://www.justice.gov/">Department of Justice</a> and <a
                href="https://18f.gsa.gov">18F</a>.</p>

                <p>Our work is one of several initiatives currently in progress
                to modernize the Freedom of Information Act, as part of the
                United States’ <a
                href="https://www.whitehouse.gov/sites/default/files/docs/us_national_action_plan_6p.pdf">Second
                Open Government Partnership National Action Plan</a>. openFOIA
                supplements the resources available on FOIA.gov, the
                government’s central website on FOIA. To learn more about the
                FOIA, please visit <a
                href="http://www.foia.gov/">FOIA.gov</a>.</p>
            </section>
            <section id="development">
                <h2>Getting better all the time</h2>

                <p> We're currently in the <a
                href="https://18f.gsa.gov/dashboard/stages/">alpha</a> stage of
                development, which means our site might not have every feature
                you're looking for.</p>

                <p>Please let us know what's working and what you'd like to see
                in the future - we're actively improving openFOIA, and we base
                our improvements on feedback from users like you! Email your
                suggestions to <a
                href="mailto:18f-foia@gsa.gov">18f-foia@gsa.gov</a>, or visit
                our <a href="https://github.com/18F/foia-hub/issues">issue
                tracker here</a>.</p>

                <p>Developers should check out the <a
                href="{{url('developers')}}">developer resources page</a>.</p>
            </section>
            
            <section id="features">
                <h2>Current Features</h2>
                <ul>
                    <li>
                        <span class="fa fa-phone"></span><h3>Searchable contact information</h3>

                        <p> openFOIA consolidates the contact information for
                        all federal agencies’ and components’ FOIA offices.
                        It’s easy to search, and it provides links to each
                        agency’s online FOIA request form (when available),
                        allowing users to start their requests more
                        quickly.</p>
                    </li>

                    <li>
                        <span class="fa fa-university"></span><h3>Agency description search</h3>
                        
                        <p>openFOIA lets you search by some keywords, which is
                        helpful if you’re not sure which agency to contact. For
                        example, a search for 'credit cards' brings up the
                        Consumer Financial Protection Bureau, and a search for
                        'criminal laws' brings up the Bureau of Alcohol,
                        Tobacco, Firearms and Explosives.</p>
                    </li>

                    <li>
                        <span class="fa fa-search"></span><h3> Acronym search </h3>

                        <p>Some agencies are better known by their acronyms.
                        openFOIA allows users to search by acronym instead of
                        full agency (or component) title. For example, a search
                        for 'FBI' brings up the Federal Bureau of
                        Investigation.</p>
                    </li>
                    <li class="last">
                        <h3><span class="fa fa-book"></span>FOIA libraries</h3>

                        <p>Many agencies provide commonly requested responsive
                        documents in online libraries or reading rooms.
                        openFOIA links to these libraries, letting users see if
                        the information they want is already available.</p>
                    </li>
                </ul>
            </section>
        </div>
    </section>
</div>
{% endblock %}
