<!doctype html>
<html>
<head>
  <title>{% block title %}
    alpha.FOIA.gov > Freedom of Information Act.
  {% endblock %}</title>

  {% include "includes/head.html" %}
</head>
<body>

{% include "includes/nav.html" %}

<div id="main">
  <div class="content pure-g">
    <header class="pure-u-1">
      <h1 id="logo">
        <a href="/">
          alpha.<em><strong>foia</strong>.gov</span></em>
        </a>
      </h1>
    </header>
  </div>

  {% block body %}Body.{% endblock %}
</div>

</body>
</html>
