{% extends "base.html" %}

{% block body %}
<div class="container">
    <section class="content">
        <div class="about">
            <h1><em>Developers</em></h1>

            <p>
            This effort is a work in progress by <a href="https://18f.gsa.gov/">18F</a>.
            However, we welcome contributions, suggestions and comments by everyone.
            </p>

            <hr />

            <h2>Technology</h2>

            <p>
            openFOIA is a Python/Django application. Many of the scripts written to collect
            data are also written in Python.
            </p>

            <hr />

            <h2> API </h2>

            <p>
                All of the information presented is available through an API.
                The <a href="http://foia-hub.readthedocs.org/en/latest/">API
                documentation</a> provides more details. 
            </p>

            <hr />


            <h2>Bulk Data</h2>

            <p>
            The data source for the API and the tool is a set of YAML files that contains
            all the data. These files are the canonical source for our data and are updated
            through a combination of automated and manual processes.
            </p>

            <ul>
                <li>
                    <a href="https://github.com/18F/foia/tree/master/contacts/data">YAML data files</a>
                </li>
            </ul>

            <hr />

            <h2> Repositories </h2>

            <ul>
                <li>
                    <span class="fa fa-github"></span> <a href="https://github.com/18F/foia">foia</a>
                    Our main repository (also contains the bulk data)
                 </li>

                <li>
                    <span class="fa fa-github"></span> <a href="https://github.com/18F/foia-hub">foia-hub</a>
                    The repository for openFOIA.
                </li>
            </ul>

            <hr />

            <h2> Data Sources </h2>

            <p> We use multiple sources for the information we display about each
            government component.  </p>

            <p> Our contact and processing times data come from both <a
            href="http://foia.gov">foia.gov</a> and manually culling government FOIA web pages.
            Descriptions and acronyms come from the <a href="http://www.usa.gov/api/USAGovAPI/contacts.json">USAGOV Contacts API</a>.
            We populate keyword search terms using the <a
            href="https://www.federalregister.gov/blog/learn/developers">Federal Register API</a>. Finally, the
            FOIA library links are scraped from each agency's FOIA web page where relevant.
            </p>

            <p> Our <a
            href="https://github.com/18F/foia/blob/master/contacts/README.md">source
            code</a> provides more information and details on how each data source is
            processed.  </p>

            <hr />


            <h2>Open Source and Contributing</h2>

            <p>
            This project is open source and we welcome contributions from the public. We
            work in an agile fashion in two-week sprints. Our project backlog is <a
            href="https://github.com/18F/foia-hub/milestones/Backlog">here</a>.
            </p>

            <h3>License</h3>

            <p>
            This project is in the public domain within the United States, and copyright
            and related rights in the work worldwide are waived through CC0 1.0 Universal
            public domain dedication.
            </p>

            <p>
            All contributions to any repositories of this project will be released under
            the CC0 dedication. By submitting a pull request, you are agreeing to comply
            with this waiver of copyright interest.
            </p>

            <hr />

        </div>
    </section>
</div>
{% endblock %}
