{% extends "base.html" %}
{% block class %}home{% endblock %}

{% block body %}

{% include "includes/search.html" %}

<div class="hero">
    <div class="container">
        <section class="hero--content">
	        <h1><em>FOIA Hub jump-starts your U.S. Freedom of Information Act request process by offering current contact information for all federal agencies.</em></h1>
	        
	        <hr>
            
            <h1><em>What is FOIA?</em></h1>
            <p>The U.S. Freedom of Information Act (FOIA, for short) gives people the right to request access to government records. Under FOIA, government agencies are required to disclose requested information unless it falls under a specific set of exemptions or exclusions.</p>
			<a class="more" href="/learn/">Learn more about FOIA <i class="fa fa-arrow-right"></i></a>

			<hr>

			<section class="process">
				<h1><em>How does the process work?</em></h1>
				<ol class="default">
					<li>Submit a FOIA request directly to the agency you believe holds the information you seek.</li>
					<li>The FOIA officials at that agency will (usually) email receipt of your request and begin looking for the requested records or point you to a public space where the records may already be accessed.</li>
					<li>As the records are collected, they will be assessed to determine what can be provided to the requestor.</li>
					<li>FOIA officials at the agency send the requester their "determination. The records may be in full, partial or redacted or denied as a request.</li>
				</ol>
			</section>
        </section>
    </div>
</div>

{% endblock %}
