{% extends "base.html" %}
{% block class %}home{% endblock %}

{% block body %}

<section class="hero">
    <div class="container">
        <h2>What is FOIA?</h2>
        <p>
            The Freedom of Information Act (FOIA) provides you the right to request access to government records. Under FOIA, government agencies are <strong><em>required</em></strong> to disclose any records requested, unless they fall under a specific set of exemptions or exclusions.
            <a class="more" href="/learn/">Learn more about FOIA.</a>
        </p>
    </div>
</section>

{% include "includes/search.html" %}

{% endblock %}
