{% extends "base.html" %}

{% block body %}
{% include "includes/breadcrumb.html" %}
<div class="container">
    <section class="content">
        <div class="learn">
            <h1><em>Understanding FOIA</em></h1>

            <nav class="toc">
                <ul>
                    <li><h3><a href="#what">What is FOIA?</a></h3></li>
                    <li><h3><a href="#why">Why would I make a FOIA request?</a></h3></li>
                    <li><h3><a href="#ask">What can I ask for?</a></h3></li>
                    <li><h3><a href="#form">Is there a special form I have to use to make a FOIA request?</a></h3></li>
                    <li><h3><a href="#how">How do I make a FOIA request?</a></h3></li>
                    <li><h3><a href="#after">What happens after I make my FOIA request?</a></h3></li>
                    <li><h3><a href="#when">How long does it take to fulfill my request?</a></h3></li>
                    <li><h3><a href="#dispute">What happens if I’m not satisfied with the response I received?</a></h3></li>
                </ul>
            </nav>

            <h2 id="what" class="question">What is FOIA?</h2>

            <div class="answer">
                <p>Since 1966, the Freedom of Information Act (FOIA) has granted the public the right to request access to any agency records. Under FOIA, agencies are required to disclose any information requested unless it falls under a specific set of <a href="http://www.foia.gov/faq.html#exemptions">exemptions</a> or <a href="http://www.foia.gov/faq.html#exclusions">exclusions</a>.</p>

                <p>The public's right to request records has served as the backbone for information disclosure in the United States. Records released under FOIA have led to the publication of many important news stories and greater public awareness around government activities.</p>
            </div>

            <hr />

            <h2 id="why" class="question">Why would I make a FOIA request?</h2>
            <div class="answer">
                <p>While the Federal Government makes a lot of information <a href="https://www.data.gov">available</a> in many <a href="http://foia.state.gov/Search/Search.aspx">places</a>, you may still seek information that has not already been publicly released. FOIA makes it possible to access records that are not yet publicly available.</p>
            </div>
            <hr />

            <h2 id="ask" class="question">What can I ask for?</h2>

            <div class="answer">
                <p>You can file a FOIA request for any “agency record.” This is a broad term that covers things like books, papers, maps, photographs, emails, machine-readable materials, and other documentary materials. You can also specify whether you would like to receive these records in electronic or paper formats as well. </p>
            </div>

            <hr />

            <h2 id="form" class="question">Is there a special form I have to use to make a FOIA request?</h2>

            <div class="answer">
                <p>There is no specific form that must be used to make a request. All you need is to do is write a description of the information you are seeking and comply with any agency-specific requirements. Those requirements are set out in agencies’ FOIA regulations.</p>

                <p>Your written description must be specific enough that agency FOIA professionals can understand what you are seeking and properly conduct a search. Information such as time periods, specific names, topics, or key words related to the information you are seeking will help inform the agency.</p>
            </div>

            <hr />

            <h2 id="how" class="question">How do I make a FOIA request?</h2>

            <div class="answer">
                <p>Requests must be submitted in writing, either electronically or in paper format, and should include a reasonable description of the information you are requesting and the format you prefer.</p>

                <p>The FOIA does not require agencies to do research for you, analyze data, answer written questions, or create records in response to your request. That means you may need to do some research before filing a request. An agency’s own website is a good place to start.</p>
            </div>

            <hr />

            <h2 id="after" class="question">What happens after I make my FOIA request?</h2>

            <div class="answer">
                <p>A lot happens behind the scenes after an agency receives your FOIA request. Agencies each have their own specific way of processing a request. The first step is to determine which offices may have responsive records and search for those records. Once an office has located records and provided them back to the FOIA shop, the FOIA team may consult subject matter experts, lawyers, or other agency officials to review them for release. This step may also include redacting any non-public information.</p>

                <p>Once the agency has completed this process, any public records will be released to you.</p>
            </div>

            <hr />

            <h2 id="when" class="question">How long does it take to fulfill my request?</h2>

            <div class="answer">
                <p>Response time varies between agencies and also depends on the complexity of the request. The standard time limit established by FOIA is 20 business days, but some requests are more complex and will require more time.</p>

                <p>Agencies may also request an extension in “unusual” or “exceptional” circumstances and may pause the request clock to <a href="http://www.justice.gov/oip/foiapost/2008foiapost29.htm">clarify the request</a>. If an agency gets an extension, it will notify you. During this time, the agency will provide you with an opportunity to modify the scope of the request to help improve the response time.</p>

                <p>Another option is to agree to a different timetable for processing the request. You can work with the agency’s FOIA Public Liaison or other FOIA contacts to discuss this option. You should always feel free to contact the agency to check on the status of your request. Agencies are required to provide an estimated response date upon request.</p>
            </div>

            <hr />

            <h2 id="dispute" class="question">What happens if I’m not satisfied with the response I received?</h2>

            <div class="answer">
                <p>If you disagree with agency’s decision on your request, you can file an appeal by writing to the agency. Agencies review appeals independently and inform you whether your appeal is granted or denied. FOIA also provides for a 20 business day time frame for appeal responses, but, similarly, response times vary based on an agency’s workload and the complexity of your appeal.</p>

                <p>Sometimes an appeal isn’t the best route. Before filing an appeal, you might want to try contacting the agency that handled the request either through your FOIA contact or the FOIA public liaison who is there to help you throughout the FOIA process and help resolve any disputes. Information for every agency's FOIA public liaison is listed on their respective <a href="{{url('agencies')}}">agency or component page</a>.</p>

                <p>If the appeal process is complete and you are not yet satisfied, you can also seek mediation services from the FOIA Ombudsman’s office, the <a href="https://ogis.archives.gov/">Office of Government Information Services</a> at the National Archives and Records Administration.</p>
            </div>

            <hr />

        </div>
    </section>
</div>
{% endblock %}
