{% block head %}
<script src="{{ static("js/jquery-2.1.1.min.js") }}"></script>
{% endblock %}

{% block body %}
    <form action="" method="post">
        {% csrf_token %}
        {{management_form|safe}}
         <!-- Validated instructions -->
        {% if validated %}
            {% include 'validated.html' %}
         <!-- Display forms when not validated -->
        {% else %}
            <!-- Centralized Form -->
            {% if forms|length == 1 %}
                {% include 'centralized.html' %}
            <!-- Decentralized Form -->
            {% else %}
                {% include 'decentralized.html' %}
            {% endif %}
        {% endif %}
        <br>
        <!-- Buttons when validated -->
        {% if validated %}
         <input type="submit" name="download" value="Download" />
         <input type="submit" name="return" value="Return" />
        {% else %}
        <!-- Buttons when not validated -->
        <input type="submit" value="Submit" />
        {% endif %}
    </form>
<!-- Form controls -->
<script src="{{ static("js/contact-updater/form-controls.js") }}"></script>
{% endblock %}

