{% extends "base.html" %}
{% block head %}
    {{super()}}
<script type="text/javascript">
    function getContent(){
        data_array = document.querySelectorAll("div[contentEditable='true']")
        for(var i = 0; i < data_array.length; i++){
            document.getElementById(data_array[i].getAttribute("name")).value = data_array[i].innerHTML;
        }

    }
</script>
<style>
.errorlist {
  color: red;
  text-decoration: underline;
}
</style>
{% endblock %}
{% block body %}
    <div class="hero">
    <div class="container">
    <section class="hero--content">


    {% if validated  %}
        <h3>Instructions</h3>
    {% endif %}

    <form action="" method="post" onsubmit="getContent()">
        {% csrf_token %}
        {{management_form|safe}}
        <fieldset>
        {% if validated %}
            {% for agency, form in data %}
                {% for field in form %}
                    {{field.as_hidden()}}
                {% endfor %}
            {% endfor %}
        {% else %}
            {% for agency, form in data %}
                <h2>{{agency.name}}</h2><br>
                {% for field in form.visible_fields() %}
                    <h3>{{field.label}}</h3>
                    {{ field.errors }}
                    <div name="{{field.id_for_label}}" contentEditable="true">{{field.value() | default("")}}</div>
                    {{field.as_hidden()}}
                    <br>
                {% endfor %}
                {% for field in form.hidden_fields() %}
                    {{field}}
                {% endfor %}
            {% endfor %}
        {% endif %}
        <br>
        </fieldset>

        <center>
        {% if validated %}
         <input type="submit" name="download" value="Download">
         <input type="submit" name="return" value="Return" />
        {% else %}
        <input type="submit" value="Finished" />
        {% endif %}
        </center>

    </form>

    </section>
    </div>
    </div>
{% endblock %}
