{% extends "base.html" %}

{% block body %}
    <div class="hero">
    <div class="container">
    <section class="hero--content">


    {% if validated  %}
        <h3>Instructions</h3>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {{management_form|safe}}
        <fieldset>
        {% if validated %}
            {% for agency, form in data %}
                {% for field in form %}
                    {{field.as_hidden()}}
                {% endfor %}
            {% endfor %}
        {% else %}
            {% for agency, form in data %}
                <h2>{{agency.name}}</h2>
                {{form|safe}}
            {% endfor %}
        {% endif %}
        <br>
        </fieldset>

        <center>
        {% if validated %}
         <input type="submit" name="download" value="Download">
         <input type="submit" name="return" value="Return" />
        {% else %}
        <input type="submit" value="Finished" />
        {% endif %}
        </center>

    </form>

    </section>
    </div>
    </div>
{% endblock %}
