{# The slug is an invisible field for ID purposes #}
{{form.slug.as_hidden()}}
{% if loop %}<h1 class="agency-name">{{agency_names[loop.index]}}</h1>{% endif %}
<section class="description">
	<div class="field">
		<label for="description" class="required">{{form.description.label}}</label>
		{{form.description}}
		<div id="charNum"></div>
	</div>
	<div class="error">
		{{form.errors.description}}
		<p>Here's where you can tell the public about what your agency or office does. People reading this description will use it to have a clearer understanding of the mission of the office and what kinds of records it processes.</p>
	</div>
</section>

<h3>Public liaison</h3>
<section class="public_liaison_name">
	<div class="field">
		<label class="required">{{form.public_liaison_name.label}}</label>
		{{form.public_liaison_name}}
	</div>
	<div class="error">
		{{form.errors.public_liaison_name}}
	</div>
</section>

<section>
	<div class="field">
		<label class="required">{{form.public_liaison_email.label}}</label>
		{{form.public_liaison_email}}
	</div>
	<div class="error">
		{{form.errors.public_liaison_email}}
		<p>When certain questions arise, requesters will need to contact the agency or office FOIA public liaison or Request Service Center. Please provide current information for how to reach both.</p>
	</div>
</section>

<section>
	<div class="field">
		<label>{{form.public_liaison_phone.label}}</label>
		{{form.public_liaison_phone}}
	</div>
	<div class="error">
		{{form.errors.public_liaison_phone}}
	</div>
</section>

<h3>Foia Request Service Center</h3>
<section>
		<div class="field">
			<label>{{form.phone.label}}</label>
			{{form.phone}}
	</div>
		<div class="error">
			{{form.phone.errors}}
	</div>
</section>

<h3>Foia Request Submission</h3>

<section>
		<div class="field">
			<label class="required">{{form.address_line_1.label}}</label>
			{{form.address_line_1}}
	</div>
		<div class="error">
			{{form.errors.address_line_1}}
	</div>
</section>

<section>
	<div class="field">
		<label>{{form.address_line_2.label}}</label>
		{{form.address_line_2}}
	</div>
	<div class="error">
		{{form.errors.address_line_2}}
	</div>
</section>

<section>
	<div class="field">
		<label class="required">{{form.city.label}}</label>
		{{form.city}}
	</div>
	<div class="error">
		{{form.errors.city}}
	</div>
</section>

<section>
	<div class="field">
		<label class="required">{{form.state.label}}</label>
		{{form.state}}
	</div>
	<div class="error">
		{{form.errors.state}}
	</div>
</section>

<section>
	<div class="field">
		<label class="required">{{form.zip_code.label}}</label>
		{{form.zip_code}}
	</div>
	<div class="error">
		{{form.errors.zip_code}}
	</div>
</section>

<section>
	<div class="field">
		<label class="nudge">{{form.office_url.label}}</label>
		{{form.office_url}}
	</div>
	<div class="error">
		{{form.errors.office_url}}
	</div>
</section>

<section>
	<div class="field">
		<label class="nudge">{{form.emails.label}}</label>
		{{form.emails}}
	</div>
	<div class="error">
		{{form.errors.emails}}
	</div>
</section>

<section>
	<div class="field">
		<label>{{form.fax.label}}</label>
		{{form.fax}}
	</div>
	<div class="error">
		{{form.errors.fax}}
	</div>
</section>

<h3>Other</h3>
<section>
	<div class="field">
		<label>{{form.component_url.label}}</label>
		{{form.component_url}}
	</div>
	<div class="error">
		{{form.errors.component_url}}
	</div>
</section>

<section>
	<div class="field">
		<label class="nudge">{{form.foia_libraries.label}}</label>
		{{form.foia_libraries}}
	</div>
	<div class="error">
		{{form.errors.foia_libraries}}
	</div>
</section>

<section>
	<div class="field">
		<label class="nudge">{{form.regulations_website.label}}</label>
		{{form.regulations_website}}
	</div>
	<div class="error">
		{{form.errors.regulations_website}}
			<p>Requesters have to follow certain rules or regulations to properly file a FOIA request. To help requesters more easily access those rules and make certain they file a proper request, please provide a link to where those rules are on your website.</p>
	</div>
</section>

<section>
	<div class="field">
		<label>{{form.common_requests.label}}</label>
		{{form.common_requests}}
	</div>
	<div class="error">
		{{form.errors.common_requests}}
		<p>Requesters will have an easier time determining if your agency is the correct one to file a request with if they know what kinds of records your agency processes. This helps to ensure a request isn't misdirected. Please provide some examples of commonly requested topics here.</p>
	</div>
</section>

<section>
	<div class="field">
		<label>{{form.no_records_about.label}}</label>
		{{form.no_records_about}}
	</div>
	<div class="error">
		{{form.errors.no_records_about}}
		<p>Requesters sometimes misdirect a request because they misunderstand the kinds of records the agency or office processes. Providing this information makes it clear to requesters the kinds of information the agency does not process. Please provide some examples of commonly misdirected topics here.</p>
	</div>
</section>

<section>
	<div class="field">
		<label class="nudge">{{form.request_instructions.label}}</label>
		{{form.request_instructions}}
	</div>
	<div class="error">
		{{form.errors.request_instructions}}
		<p>Are there any other instructions you make of FOIA requesters not covered above? Please include those or a link to where those exist on your site here.</p>
	</div>
</section>
