{% extends "base.html" %}

{% block body %}
 <div class="container">
    <section class="breadcrumbs">
        <a href="{{url('home')}}">Search Home </a> &gt; Search For:
        {{request.GET.q|default("No Search")}}
    </section>
</div>
<div class="search">
    <div class="container">
        <section class="search--content">
        <h2>Search Government Records </h2>

            <form class="agency" method="get" action=".">
                <div class="search--box scrollable-dropdown-menu">
                        <input id="id_q" name="q" type="search" value="{{request.GET.q}}" />
                        <button type="submit">Search</button>
                </div>
            </form>
        </section>
    </div>
</div>

<div class="container">
    <section class="searchresults">
    {% if query %}
        <hr />
        <h2>Displaying {{page.paginator.count}} Results</h2>

        <div>
        <dl>
        <dd>

            {% if request.GET.order_by == 'date_released' %}
                <a href="?{{remove_from_query(request.GET.urlencode(), ['order_by', 'page'])}}&amp;order_by=relevance">Order By Relevance</a>
            {% else %}
                <a href="?{{remove_from_query(request.GET.urlencode(), ['order_by', 'page'])}}&amp;order_by=date_released">Order By Date Released</a>
            {% endif %}
        </dd>
        {% if facets.fields.foia_agency %}
            <dt>Agencies</dt>

            {% for agency in facets.fields.foia_agency %}
                <dd>
                    {% if "foia_agency_exact" not in request.GET.urlencode() %}
                        <a href="?{{remove_from_query(request.GET.urlencode(), ['page'])}}&amp;selected_facets=foia_agency_exact:{{agency.0|urlencode}}">{{agency.0|upper}}</a> ({{ agency.1 }})
                    {% else %}
                        {{agency.0|replace("-", " ")}} ({{ agency.1 }})
                    {% endif %}

                </dd>
            {% endfor %}
        {% endif %}
        </dl>
        </div>

        <ul>
        {% for result in page.object_list %}

            {% include 'search/search_result.html' %}

        {% else %}
            <p>No results found</p>
        {% endfor %}
        </ul>

        <hr />

        {% if page.has_previous() or page.has_next() %}
            <div>
                {% if page.has_previous() %}
                    <a href="?{{remove_from_query(request.GET.urlencode(), ['page'])}}&amp;page={{page.previous_page_number()}}">{%endif%}&laquo; Previous {% if page.has_previous%}</a>
                {% endif %}
                {% if page.has_next() %}
                    | <a href="?{{remove_from_query(request.GET.urlencode(), ['page'])}}&amp;page={{page.next_page_number()}}">{%endif%} Next &raquo;{% if page.has_next%}</a>
                {% endif %}
            </div>
        {% endif %}
    {% else %}

    {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
</section>
</div>
{% endblock %}
