from .base import *

SECRET_KEY = 'CHANGE THIS IN PRODUCTION'


# Change the password below to the one you use
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'foia',
        'USER': 'foia',
        'PASSWORD': 'CHANGETHIS',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}

# These are the default settings for haystack.
HAYSTACK_CONNECTIONS = {
    'default': {
        'ENGINE': 'haystack.backends.elasticsearch_backend.ElasticsearchSearchEngine',
        'URL': 'http://127.0.0.1:9200/',
        'INDEX_NAME': 'haystack',
    },
}

# Replace with a Google Analytics ID in production
ANALYTICS_ID = ""
