<p>
  <a href="http://www.gsa.gov">The General Services Administration (GSA)</a> helps manage and support the basic functioning of federal agencies. The GSA supplies products and communications for U.S. government offices, provides transportation and office space to federal employees, and develops government-wide cost-minimizing policies, and other management tasks.
</p>

<p>
  Common FOIA requests from GSA include <strong>federal contracts</strong>, <strong>purchase card use</strong>, and <strong>government forms</strong>.
</p>