* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
body:after {
  content: "";
  display: table;
  clear: both;
}

body > header {
  margin-left: 12.79471%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  border-bottom: 1px solid #dedede;
  padding-top: 20px;
  height: 80px;
}
body > header:last-child {
  margin-right: 0;
}
body > header h1 {
  font-weight: normal;
  font-size: 2em;
  margin: 0;
  padding: 0;
  color: #18f;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
}
body > header h1 a {
  color: #18f;
}
body > header h1 strong {
  font-weight: normal;
}
body > header h1 em {
  color: #cc2211;
  font-style: normal;
}
body > header h1:last-child {
  margin-right: 0;
}
body > header nav {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
  position: relative;
  height: 100%;
}
body > header nav:last-child {
  margin-right: 0;
}
body > header nav ul {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  height: 50px;
}
body > header nav ul li {
  display: inline-block;
  padding: 0px 12px;
}
body > header nav ul a {
  color: #333;
  padding: 5px 12px 24px 12px;
}
body > header nav ul a:hover, body > header nav ul a.active {
  border-bottom: 0.3em solid #777;
}
body > header nav ul a:hover {
  background: none;
  color: #777;
}
body > header nav ul a:focus {
  background: #cc2211;
  color: #fff;
}

#main {
  margin-left: 12.79471%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
}
#main:last-child {
  margin-right: 0;
}
#main section.search {
  margin-bottom: 30px;
}
#main section.contact h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}
#main section.contact ul, #main section.contact li {
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
  margin: 0;
}
#main header {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 20px;
}
#main header:last-child {
  margin-right: 0;
}
#main header h1 {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  font-size: 2.4em;
}
#main .department {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
#main .department:last-child {
  margin-right: 0;
}
#main .department .description {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
}
#main .department .description:last-child {
  margin-right: 0;
}
#main .department .resources {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  padding-left: 10px;
}
#main .department .resources:last-child {
  margin-right: 0;
}
#main .details {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
#main .details:last-child {
  margin-right: 0;
}
#main .details .offices, #main .details .left {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
}
#main .details .offices:last-child, #main .details .left:last-child {
  margin-right: 0;
}
#main .details .contact, #main .details .right {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
}
#main .details .contact:last-child, #main .details .right:last-child {
  margin-right: 0;
}
#main .details header h2 {
  font-size: 2em;
}
#main .resource_type, #main .contact_type {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin: 15px 0;
}
#main .resource_type:last-child, #main .contact_type:last-child {
  margin-right: 0;
}
#main .resource_type .fa:before, #main .contact_type .fa:before {
  font-size: 2em;
}
#main .resource_type .icon, #main .contact_type .icon {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  font-size: 1em;
}
#main .resource_type .icon:last-child, #main .contact_type .icon:last-child {
  margin-right: 0;
}
#main .resource_type .subdetails, #main .contact_type .subdetails {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
}
#main .resource_type .subdetails:last-child, #main .contact_type .subdetails:last-child {
  margin-right: 0;
}
#main .resource_type h3, #main .contact_type h3 {
  padding: 0;
  margin: 0;
  font-weight: bold;
}
#main .resource_type ul, #main .resource_type li, #main .contact_type ul, #main .contact_type li {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}
#main .details .offices ul, #main .details .offices li {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}
#main .resource_type h3 {
  font-size: 1em;
}
#main .contact_type h3 {
  font-size: 1.6em;
  font-weight: normal;
  margin-bottom: 5px;
}
#main .inaccurate {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
#main .inaccurate:last-child {
  margin-right: 0;
}
#main .inaccurate p {
  font-size: 1em;
  font-weight: bold;
}

form.request input.upto[type=text] {
  width: 80px;
  display: inline;
}
form.request fieldset {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border: 0;
}
form.request fieldset:last-child {
  margin-right: 0;
}
form.request fieldset input {
  font-size: 100%;
  padding: 10px;
}
form.request fieldset legend {
  display: block;
  width: 100%;
  padding: .3em 0;
  margin-bottom: .3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}
form.request #name-email input {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin: 0;
}
form.request #name-email input:last-child {
  margin-right: 0;
}
form.request textarea.request {
  height: 9em;
  width: 100%;
}
form.request textarea.fee-waiver-justification {
  height: 4em;
}
form.request span.fee-amount {
  font-weight: bold;
}
form.request label.fee-waiver {
  display: inline;
}
form.request input[type=submit] {
  font-size: 100%;
  padding: .5em 1em;
  color: #fff;
  border: 0;
  background-color: #0078e7;
  border-radius: 2px;
}

html, button, input, select, textarea {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

a {
  color: #18f;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

input.search, input.agency {
  width: 100%;
}

.pure-menu .pure-menu-selected a {
  border-bottom: 0.3em solid #333;
}

/* todo: error/success states still need styling */
/* error message next to submit button */
div.request.error {
  display: none;
  padding: 10px 0;
  font-weight: bold;
  color: #f00;
}

#tracking-number {
  font-weight: bold;
}

#requester-email {
  font-weight: bold;
}

#fee-waiver-justification {
  display: none;
  margin: 10px 0;
}

/* agency autocomplete */
.twitter-typeahead {
  width: 100%;
}

.scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  margin-bottom: 100px;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 50px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 8px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p,
.tt-suggestion h5 {
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
