<fieldset class="pure-group">
  <input type="text" placeholder="First name" name="first_name" class="first_name pure-u-1" />
  <input type="text" placeholder="Last name" name="last_name" class="last_name pure-u-1" />
  <input type="email" placeholder="Email address" name="email" class="email pure-u-1" />
</fieldset>

<fieldset>
  <legend>Describe the records you are requesting</legend>
  <textarea class="request body pure-u-1" class="body" name="body"></textarea>
</fieldset>

<fieldset>
  <label for="document_start">Documents Date Start (optional)</label>
  <input type="text" id="document_start" name="documents_start" placeholder="Click to select" /><br />

  <label for="document_end">Documents Date End (optional)</label>
  <input type="text" id="document_end" name="documents_end" placeholder="Click to select" />
</fieldset>
