{% extends "base.html" %}

{% block body %}
<div class="content pure-g">

<header class="pure-u-1">
  <h2>General Services Administration</h2>
</header>

<section class="request agency pure-u-1">
  <p>
    <a href="http://www.gsa.gov">The General Services Administration (GSA)</a> helps manage and support the basic functioning of federal agencies. The GSA supplies products and communications for U.S. government offices, provides transportation and office space to federal employees, and develops government-wide cost-minimizing policies, and other management tasks.
  </p>

  <p>
    Common FOIA requests from GSA include <strong>federal contracts</strong>, <strong>purchase card use</strong>, and <strong>government forms</strong>.
  </p>

</section>


<!-- request form, shown by default -->

<section class="request form pure-u-1">

  <form class="request pure-form" method="get" action="#">
    <input type="hidden" class="agency_agency" name="agency" value="general-services-administration" />
    <input type="hidden" class="agency_office" name="office" value="headquarters" />
    <input type="hidden" class="agency_name" name="agency_name" value="General Services Administration" />


    {% include "request/basic.html" %}


    <fieldset>
      <legend>If your request relates to a specific GSA contract, enter the contract number. (optional)</legend>
      <input type="text" class="pure-u-1 agency_fields_contract" name="agency_fields[contract]" placeholder="GS-"/>
    </fieldset>

    <fieldset>
      <legend>If your request relates to a specific GSA region, choose the region or choose your state. (optional)</legend>

      <select class="pure-u-1 agency_fields_region" name="agency_fields[region]">
        <option value="" selected>-- GSA region --</option>
        <option value="1A">New England Region (1A)</option>
        <option value="2A">Northeast and Caribbean Region (2A)</option>
        <option value="3A">Mid-Atlantic Region (3A)</option>
        <option value="4A">Southeast Sunbelt Region (4A)</option>
        <option value="5A">Great Lakes Region (5A)</option>
        <option value="6A">The Heartland Region (6A)</option>
        <option value="7A">Greater Southwest Region (7A)</option>
        <option value="8A">Rocky Mountain Region (8A)</option>
        <option value="9A">Pacific Rim Region (9A)</option>
        <option value="10A">Northwest/Arctic Region (10A)</option>
        <option value="11A">National Capital Region (11A)</option>
        <option value="Central">Central Office (00)</option>
      </select>

    {% include "request/fees.html" %}

    <div class="request error">
      There was an error submitting your request. Please fill out all the required fields above, and try again.
    </div>

    <input type="submit" class="pure-button pure-button-primary" value="Submit Request" />
  </form>

</section>

<!-- hidden by default, request success -->
<section class="request success pure-u-1">
  <h3>
    You've successfully submitted your request!
  </h3>

  <p>
    We've emailed a copy of your request to <a id="requester-email"></a>.
  </p>

  <p>
    Your request's tracking ID is <span id="tracking-number"></span>.
  </p>

  <p>
    You should receive a status update from the <span class="agency-name"></span> by email within 20 working days.
  </p>

  <p>
    To reach the FOIA office of the <span class="agency-name"></span> directly, contact:

    <blockquote>
      Audrey Corbett Brooks<br/>
      (202) 205-5912<br/>
      <a href="mailto:gsa.foia@gsa.gov">gsa.foia@gsa.gov</a>
    </blockquote>
  </p>
</section>
</div>

{% include "request/script.html" %}

{% endblock %}