{% extends "base.html" %}

{% block body %}
<div class="content pure-g">

<section class="agency pure-u-1">
  <h2>
    What agency are you submitting a request to?
  </h2>

  <p>
    The United States government is made up of many different <strong>federal agencies</strong>. To file a FOIA request, you need to choose the agency that has the information you're looking for, and request it directly from them.
  </p>

  <form class="agency">
    <div class="scrollable-dropdown-menu">
      <input class="typeahead agency" type="text" placeholder="Agency name">
    </div>
  </form>
</section>

</div>

<script src="/static/js/typeahead.bundle.js"></script>
<script src="/static/js/handlebars-v1.2.0.js"></script>
<script>

var agencies = new Bloodhound({
  datumTokenizer: function(d) {
    return []
      .concat(Bloodhound.tokenizers.whitespace(d.name))
      .concat(Bloodhound.tokenizers.whitespace(d.description))
      .concat(Bloodhound.tokenizers.whitespace(d.abbreviation))
    ;
  },
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  prefetch: '/request/autocomplete'
});

// always clear local storage for new requests, at least in dev
agencies.clearPrefetchCache();
agencies.initialize();

{% raw %}

$('.scrollable-dropdown-menu .typeahead').typeahead({
    hint: false,
    highlight: true,
    minLength: 1
  },
  {
    name: 'agencies',
    displayKey: 'value',
    source: agencies.ttAdapter(),
    templates: {
      suggestion: Handlebars.compile(
        [
          '<h5 class="agency-name">{{name}}</h5>',
          '<p class="agency-description">{{description}}</p>'
        ].join('')
      )
    }
  }
).bind("typeahead:selected", function() {
  console.log(arguments);
  var name = arguments[1].value;
  var slug = Agencies.by_name[name];
  window.location = "/request/" + slug + "/";
});

{% endraw %}

// disable form submission
$("form").submit(function() {return false});

$("input.agency").focus();

</script>
{% endblock %}
