{% extends "base.html" %}

{% block body %}

<div>
    <h3> Most requests received </h3>
    <ul>
        <li>
            <a href="/contacts/department-of-homeland-security/">Department of Homeland Security</a>
        </li>
        <li>
            <a href="/contacts/department-of-justice/">Department of Justice</a>
        </li>
        <li>
            <a href="/contacts/department-of-defense/">Department of Defense</a>
        </li>
        <li>
            <a href="/contacts/department-of-health-and-human-services/">Department of Health and Human Services</a>
        </li>
        <li>
            <a href="/contacts/social-security-administration/">Social Security Administration</a>
        </li>
    </ul>
</div>

<div>
    <h3> Browse all agencies </h3>
    <ul>
    {% for agency in agencies %}
        <li> <a href="/contacts/{{agency.slug}}">{{agency.name}}</a></li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
