@import "neat/neat-helpers";

$max-width: em(1024);
// $visual-grid: true;

// Neat Breakpoints
$grid-columns: 24;

$extra-small-screen: em(320);
$small-screen: em(480);
$medium-screen: em(768);
$large-screen: em(980);

$large: new-breakpoint(max-width $large-screen 24);
$medium: new-breakpoint(max-width $medium-screen 12);
$small: new-breakpoint(max-width $small-screen 4);
$extra-small: new-breakpoint(max-width $extra-small-screen 4);