@import "normalize";
@import "bourbon/bourbon";
@import "base/grid-settings";
@import "base/base";
@import "neat/neat";
@import "mixins";
@import "accessibility";
@import "fonts";

body {

}

form.contactupdater {
	min-width: 640px;
	& > section {
		@include clearfix();
	}
	textarea {
		height: 10em;
	}
	.field {
		@include span-columns(12);
	}
	.error {
		@include span-columns(10);

		color: #555;
		font-size: 0.85em;
		padding-top: 3em;
		position: relative;
		p {
			// position: absolute;
		}
	}
	.required:after {
		content: "Required";
		float:right;
		font-weight: 300;
		font-style: italic;
	}
	h3 {
		font-size: 1.4em;
		margin-top: 1.5em;
	}
	label {
		margin: 0.8em 0;
		font-weight: 300;
		font-size: 0.875em;
	}
	input.parsley-error {
		border: solid 1px red;
	}
	.parsley-errors-list li {
		&:before {
			content: "\f06a";
			font-family: FontAwesome;
			margin-right: 0.5em;
		}
		color:red;
		margin-bottom: 0.5em;
	}
}
