@import "normalize";
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

body {
  padding-bottom: 20px;
}

/* a couple things that stand outside the normal hierarchy, because
   they extend the full width, beyond the normal outer-container */

body > header {
  border-bottom: 1px solid #dedede;
  a:hover {text-decoration: none;}
  h1 {
    @include span-columns(6);

    font-weight: normal;
    font-size: 2em;
  
    color: #18f;
    a {color: #18f;}
    strong {font-weight: 800;}
    em { color: #cc2211; font-style: normal;}
  }

  nav {
    @include span-columns(10);
    @include shift(8);

    ul {
      li {
        display: inline-block;
        padding: 9px 12px 0 12px;
      }

      a {
        color: #333;
        padding: 5px 0px 25px 0px;
      }
      a:hover, a.active {
        border-bottom: 0.3em solid #777;
      }
      a:hover {
        background: none;
        color: #777;
      }
      a:focus {
        // background: #cc2211;
        background: #fff;
        color:#1188ff;
      }
    }
  }
}

/* 
 * Mixin: inner 
 * $columns should always be an even number 
 */
@mixin inner($columns) {
  @include shift( ( 24 - $columns )/ 2 );
  @include span-columns( $columns );

  @include media($small) {
    @include shift(0);
    @include span-columns(4);
  }  
}

/* 
 * Mixin: fullbleed
 * $columns should always be an even number 
 */
@mixin fullbleed($columns) {
 // vz: TO BE IMPLEMENTED
}

div#usa {
  background-color: rgba(0, 0, 0, 0.75);
  .usa--content {
    h4 { font-size: 0.75em; font-weight: 500; margin: 0.4em 0;}
    padding-top: 0.75em;
    margin-bottom:0.8em;
    color: #ddd;
    text-align:center;
  }
}

#main {
  /* /about and /learn */
  .content {
    padding-top: 20px;
  }

  section.search {
    @include inner(16);
    padding: 70px 0;

    h2 {
      text-align: center;
      font-weight: normal;
      font-size: 28pt;
      margin: 0; padding: 0;
    }

    p {
      margin-top: 30px;
      font-size: 18pt;
      line-height: 36px;
    }

    .search-box {
      margin-top: 30px;
    }

    p.browse {
      margin-top: 15px;
      font-size: 10pt;
      line-height: 20px;
      text-align: center;
    }

    hr {
      margin-top: 80px;
    }
  }

  footer {
    div.left {
      @include span-columns(3);
      @include media($medium) {
        @include span-columns(3);
      }
      @include media($small) {
        @include span-columns(1);
      }

      img {
        width: 100px; height: 100px;
        margin: 10px 0;
        vertical-align: top;
      }
    }

    div.right {
      @include span-columns(21);
      @include media($medium) {
        @include span-columns(9 of 12);
      }
      @include media($small) {
        @include span-columns(3);
      }
      p {

      }
    }

  }
}

.container {
  @include outer-container();
}

.row {
  @include span-columns(24);
  @include clearfix();
}

.clearfix {
  @include clearfix();
}

@include media($medium) {
  .container {
    padding: 0 1em;
  }
}

.hero {
  background-color: #f1f8ff;
  padding: 2em 0;
  background-size: contain;

  & > .container > .hero--content {
    @include inner(16);
    h2 {
      text-align: center;
      font-weight: normal;
      font-size: 28pt;
      margin: 0; padding: 0;
    }
    p {
      /* VZ: This should be moved to a variable. Prob powered by Bitters. */
      margin-top: 30px;
      font-size: 21pt;
      line-height: 40px;
    }
}

}

@include media($small) {
  .hero {
    padding: 2em 0;
  }
}

#main.home {
  section.process {

    ul {
      margin-top: 30px;

      figure {
        @include span-columns(6);

        padding: 0; margin: 0;
        padding: 10px;

        img {width: 100%;}
        figcaption {
          font-size: 11pt;
          line-height: 24px;
        }
      }
    }
  }
}

#main.agencies {

  ul {
    padding: 0;
    a {
      color: black;
      text-decoration: none;
    }
    li {
      list-style-type: none;
      margin: 0; padding: 0;
      margin-bottom: 50px;
      @include span-columns(24);
      .agencies--name {
        @include span-columns(8);
        @include media($small) {
          @include span-columns(4 of 4);
          // text-align: center;
        }  
        h3 {
          padding: 0 0 0.5em 0; margin: 0;
          font-size: 1em;
          @include media($small) {
            font-size: 1.5em;
          }
        }
      }

      .agencies--description {
        @include span-columns(16);
        //@include shift(2);
        @include media($small) {
          @include span-columns(4 of 4);
        }  
        p {margin: 0; padding: 0;}
      }
    }
  }
}

#main.landing {

  .contact {
    h3 {
      margin-top: 30px; margin-bottom: 10px;
    }
    ul, li {
      list-style-type: none;
      list-style-position: outside;
      padding: 0; margin: 0;
    }
  }

  .header {
    margin-top: 20px;

    h1 {
      margin: 0; padding: 0;
      margin-top: 10px;
      font-size: 2.4em;
    }
  }

  .department {
    padding-bottom: 20px;
    display:inline-block;
    border-bottom: 1px solid #e5e5e5;
  }

  .department .description {
    @include span-columns(14);
      @include media($small) {
        @include span-columns(4);
      }
  }

  .department .resources {
    @include span-columns(10);
    padding-left: 10px;
    @include media($small) {
      @include span-columns(4);
      padding-left: none;
    }    
  }

  .details {
//    @include outer-container;
    padding-top: 25px;
  }

  .details .offices, .details .left {
    @include span-columns(14);
      @include media($small) {
        @include span-columns(4);
      }    
  }

  .details .contact, .details .right {
    @include span-columns(10);
        @include media($small) {
        @include span-columns(4);
      }
  }

  .details header h2 {
    font-size: 2em;
  }

  .resource_type, .contact_type {

    margin: 15px 0;

    .fa:before {
      font-size: 2em;
    }

    .icon {
      @include span-columns(2 of 24);
      font-size: 0.95em;
      text-align:center;
      margin-right:1em;
    }

    .subdetails {
//      @include span-columns(6 of 24);
      display:inline-block;
    }

    h3 {
      padding: 0; margin: 0;
      font-weight: bold;
    }

    ul, li {
      list-style-type: none;
      list-style-position: outside;
      margin: 0; padding: 0;
    }
  }

  .details .offices {
    ul, li {
      list-style-type: none;
      list-style-position: outside;
      margin: 0; padding: 0;
    }

    li {
      margin: 10px 0;
      font-size: 1.2em;
      line-height: 30px;
    }
  }

  .resource_type {
    h3 {
      font-size: 1em;
    }
  }

  .contact_type {
    h3 {
      font-size: 1.6em;
      font-weight: normal;
      margin-bottom: 5px;
    }
  }

  .inaccurate {
    //@include clearfix();
    clear:both;
    p {
      font-size: 1em;
      font-weight: bold;
    }
  }

}

form.request {
  input.upto[type=text] { width: 80px; display: inline;}
  fieldset {
    @include span-columns(12);
    border: 0;

    input {
      font-size: 100%;
      padding: 10px;
    }

    legend {
      display: block;
      width: 100%;
      padding: .3em 0;
      margin-bottom: .3em;
      color: #333;
      border-bottom: 1px solid #e5e5e5;
    }
  }
  #name-email input {
    @include span-columns(12);
    margin: 0;
  }
  textarea.request { height: 9em; width: 100%;}
  textarea.fee-waiver-justification  { height: 4em; }
  span.fee-amount { font-weight: bold; }

  label.fee-waiver {display: inline;}

  input[type=submit] {
    font-size: 100%;
    padding: .5em 1em;
    color: #fff;
    border: 0;
    background-color: #0078e7;
    border-radius: 2px;
  }
}

html, button, input, select, textarea {
  font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6 { font-family: 'Raleway', sans-serif; }
a { color: #18f; text-decoration: none;}
a:hover {text-decoration: underline}
p a:hover { text-decoration: underline; }


input.search, input.agency { width: 100% }

.pure-menu .pure-menu-selected a { border-bottom: 0.3em solid #333;}


/* todo: error/success states still need styling */

/* error message next to submit button */
div.request.error {
  display: none; padding: 10px 0;
  font-weight: bold; color: #f00;
}


#tracking-number {font-weight: bold;}
#requester-email {font-weight: bold;}
#fee-waiver-justification {display: none; margin: 10px 0;}


/* agency autocomplete */
.twitter-typeahead {
  width: 100%;
}

.scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  margin-bottom: 100px;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 50px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 8px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p,
.tt-suggestion h5 {
  margin: 0;
}