@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "normalize"; 

body {
  padding-bottom: 20px;
}

body > aside.usa {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  //height: 20px;
  line-height:1em;
  font-size: 0.75em;
  color: #DDD;
  padding-top: 1.5px;
  margin-bottom: 2em;
  p {
    margin: 0px 0px 0.75em;
    display: inline;
    @include media($mobile) {
      display: block;
    }      

    &.official {
      float:left;
      margin-left:1em;
      @include media($mobile) {
        float:none;
        text-align:center;
      }      
      }
    &.alpha {
      float:right;
      margin-right:1em;
      @include media($mobile) {
        float:none;
        text-align:center;
      }      
    }
  }
}
body > header {
  @include outer-container;
  @include media($mobile) {
    @include shift(0);
    @include span-columns(4);
    text-align: center;
    padding-top: 0;
    height: 80px;
  }

  border-bottom: 1px solid #dedede;
  @include media($mobile) {
    border-bottom: none;
  }
  padding-top: 40px;
  height: 100px;

  a:hover {text-decoration: none;}

  h1 {
    @include span-columns(5);
    @include media($mobile) {
      @include span-columns(4);
    }
    font-weight: normal;
    font-size: 2em;

    margin: 0;
    padding: 0;

    color: #18f;
    a {color: #18f;}
    strong {font-weight: normal;}
    em { color: #cc2211; font-style: normal;}
  }

  nav {
    @include span-columns(7);
    @include media($mobile) {
      @include span-columns(4);
//      display:none;
    }

    position: relative;
    height: 100%;

    ul {
      padding: 0; margin: 0;

      position: absolute;
      bottom: 0;
      height: 50px;

      li {
        display: inline-block;
        padding: 0px 12px;
      }

      a {
        color: #333;
        padding: 5px 12px 24px 12px;
      }
      a:hover, a.active {
        border-bottom: 0.3em solid #777;
        @include media($mobile) {
          border-bottom: none;
        }
      }
      a:hover {
        background: none;
        color: #777;
      }
      a:focus {
        background: #cc2211;
        color:#fff;
      }
    }
  }
}

#main {
  @include outer-container;
  @include media($mobile) {
    @include span-columns(4);
    padding-top:2em;
  }

  section.search {
    margin-bottom: 30px
  }

  section.contact {
    h3 {
      margin-top: 30px; margin-bottom: 10px;
    }
    ul, li {
      list-style-type: none;
      list-style-position: outside;
      padding: 0; margin: 0;
    }
  }

  header {
    @include span-columns(12);

    margin-top: 20px;

    h1 {
      margin: 0; padding: 0;
      margin-top: 10px;
      font-size: 2.4em;
    }
  }

  .department {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    @include span-columns(12);
    @include media($mobile) {
      @include span-columns(4);
    }
  }

  .department .description {
    @include span-columns(8 of 12);
    @include media($mobile) {
      @include span-columns(4);
    }
  }

  .department .resources {
    @include span-columns(4);
//    padding-left: 10px;
    @include media($mobile) {
      @include span-columns(4);
    }
  }

  .details {
    @include span-columns(12);
    @include media($mobile) {
      @include span-columns(4);
    }

  }

  .details .offices, .details .left {
    @include span-columns(7);
    @include media($mobile) {
      @include span-columns(4);
    }

  }

  .details .contact, .details .right {
    @include span-columns(5);
    @include media($mobile) {
      @include span-columns(4);
    }
  }

  .details header h2 {
    font-size: 2em;
  }

  .resource_type, .contact_type {
    @include span-columns(12);

    margin: 15px 0;

    .fa:before {
      font-size: 2em;
    }

    .icon {
      @include span-columns(2);
      font-size: 1em;
      @include media($mobile) {
        @include span-columns(1);
        font-size:1.25em;
        text-align:center;
      }

    }

    .subdetails {
      @include span-columns(10);
      @include media($mobile) {
        @include span-columns(3);
      }
    }

    h3 {
      padding: 0; margin: 0;
      font-weight: bold;
    }

    ul, li {
      list-style-type: none;
      list-style-position: outside;
      margin: 0; padding: 0;
    }
  }

  .details .offices {
    ul, li {
      list-style-type: none;
      list-style-position: outside;
      margin: 0; padding: 0;
    }

    li {
      margin: 10px 0;
      font-size: 1.2em;
      line-height: 30px;
    }
  }

  .resource_type {
    h3 {
      font-size: 1em;
    }
  }

  .contact_type {
    h3 {
      font-size: 1.6em;
      font-weight: normal;
      margin-bottom: 5px;
    }
  }

  .inaccurate {
    @include span-columns(12);

    p {
      font-size: 1em;
      font-weight: bold;
    }
  }

}

form.request {
  input.upto[type=text] { width: 80px; display: inline;}
  fieldset {
    @include span-columns(12);
    border: 0;

    input {
      font-size: 100%;
      padding: 10px;
    }

    legend {
      display: block;
      width: 100%;
      padding: .3em 0;
      margin-bottom: .3em;
      color: #333;
      border-bottom: 1px solid #e5e5e5;
    }
  }
  #name-email input {
    @include span-columns(12);
    margin: 0;
  }
  textarea.request { height: 9em; width: 100%;}
  textarea.fee-waiver-justification  { height: 4em; }
  span.fee-amount { font-weight: bold; }

  label.fee-waiver {display: inline;}

  input[type=submit] {
    font-size: 100%;
    padding: .5em 1em;
    color: #fff;
    border: 0;
    background-color: #0078e7;
    border-radius: 2px;
  }
}

html, button, input, select, textarea {
  font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6 { font-family: 'Raleway', sans-serif; }
a { color: #18f; text-decoration: none;}
a:hover {text-decoration: underline}
p a:hover { text-decoration: underline; }


input.search, input.agency { width: 100% }

.pure-menu .pure-menu-selected a { border-bottom: 0.3em solid #333;}


/* todo: error/success states still need styling */

/* error message next to submit button */
div.request.error {
  display: none; padding: 10px 0;
  font-weight: bold; color: #f00;
}


#tracking-number {font-weight: bold;}
#requester-email {font-weight: bold;}
#fee-waiver-justification {display: none; margin: 10px 0;}


/* agency autocomplete */
.twitter-typeahead {width: 100%;}
.scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  margin-bottom: 100px;
}



.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 50px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 8px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p,
.tt-suggestion h5 {
  margin: 0;
}

