@import "bourbon/bourbon";
@import "neat/neat";

body {
  @include outer-container;
  padding-bottom: 20px;
}

body > header {
  @include shift(1.5);
  @include span-columns(9);

  border-bottom: 1px solid #dedede;

  padding-top: 20px;

  height: 80px;

  h1 {
    font-weight: normal;
    font-size: 2em;

    margin: 0;
    padding: 0;

    color: #18f;
    a {color: #18f;}
    strong {font-weight: normal;}
    em { color: #cc2211; font-style: normal;}
    @include span-columns(5);
  }

  nav {
    @include span-columns(7);

    position: relative;
    height: 100%;

    ul {
      padding: 0; margin: 0;

      position: absolute;
      bottom: 0;
      height: 50px;

      li {
        display: inline-block;
        padding: 0px 12px;
      }

      a {
        color: #333;
        padding: 5px 12px 24px 12px;
      }
      a:hover, a.active {
        border-bottom: 0.3em solid #777;
      }
      a:hover {
        background: none;
        color: #777;
      }
      a:focus {
        background: #cc2211;
        color:#fff;
      }
    }
  }
}

#main {
  @include shift(1.5);
  @include span-columns(9);

  section.search {
    margin-bottom: 30px
  }

  section.contact {
    h3 {
      margin-top: 30px; margin-bottom: 10px;
    }
    ul, li {
      list-style-type: none;
      list-style-position: outside;
      padding: 0; margin: 0;
    }
  }
}

form.request {
  input.upto[type=text] { width: 80px; display: inline;}
  fieldset {
    @include span-columns(12);
    border: 0;

    input {
      font-size: 100%;
      padding: 10px;
    }

    legend {
      display: block;
      width: 100%;
      padding: .3em 0;
      margin-bottom: .3em;
      color: #333;
      border-bottom: 1px solid #e5e5e5;
    }
  }
  #name-email input {
    @include span-columns(12);
    margin: 0;
  }
  textarea.request { height: 9em; width: 100%;}
  textarea.fee-waiver-justification  { height: 4em; }
  span.fee-amount { font-weight: bold; }

  label.fee-waiver {display: inline;}

  input[type=submit] {
    font-size: 100%;
    padding: .5em 1em;
    color: #fff;
    border: 0;
    background-color: #0078e7;
    border-radius: 2px;
  }
}

html, button, input, select, textarea {
  font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6 { font-family: 'Raleway', sans-serif; }
a { color: #18f; text-decoration: none;}
p a:hover { text-decoration: underline; }


input.search, input.agency { width: 100% }

.pure-menu .pure-menu-selected a { border-bottom: 0.3em solid #333;}


/* todo: error/success states still need styling */

/* error message next to submit button */
div.request.error {
  display: none; padding: 10px 0;
  font-weight: bold; color: #f00;
}


#tracking-number {font-weight: bold;}
#requester-email {font-weight: bold;}
#fee-waiver-justification {display: none; margin: 10px 0;}


/* agency autocomplete */
.twitter-typeahead {width: 100%;}
.scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  margin-bottom: 100px;
}



.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 50px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 8px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p,
.tt-suggestion h5 {
  margin: 0;
}

