
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- TODO: cache-bust main.css -->
<link rel="stylesheet" href="/static/css/main.css" />
<link rel="stylesheet" href="/static/font-awesome-4.2.0/css/font-awesome.min.css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300|Raleway:400,300,700,600' rel='stylesheet' />

<script src="/static/js/jquery-2.1.1.min.js"></script>
<!-- TODO: cache-bust -->
<script src="/static/js/main.js"></script>

<!-- pickadate: can get moved to only request page later -->
<script src="/static/pickadate/picker.js"></script>
<script src="/static/pickadate/picker.date.js"></script>
<link rel="stylesheet" type="text/css" href="/static/pickadate/classic.css" />
<link rel="stylesheet" type="text/css" href="/static/pickadate/classic.date.css" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="/static/css/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/static/css/grids-responsive-min.css">
<!--<![endif]-->

<!--TypeKit for Proxima Nova -->
<script src="//use.typekit.net/tbd8pdb.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
