<title>{% block title %}FOIA Hub > Freedom of Information Act{% endblock %}</title>
<meta property="og:title" content="{{ self.title() }}" />

<meta name="description" content="{% block description %}Improving the FOIA request experience by developing a digital tool for the people who make requests and the people who administer them.{% endblock %}" />
<meta property="og:description" content="{{ self.description() }}" />

<meta property="og:site_name" content="FOIA Hub > Freedom of Information Act" />
<meta property="og:type" content="website" />

<meta name="twitter:site" content="@18F">
<meta name="twitter:creator" content="@18F">
<meta name="twitter:card" content="summary_large" />
