<header>
  <div id="usa">
    <div id="skip-nav">
      <a tabindex="0" href="#main">Skip navigation</a>
    </div>

    <div class="container">
      <div class="usa--content">
        <span class="official"><img alt="US flag signifying that this is a United States Federal Government website" src="{{ static("images/us_flag_small.png")}}" class="flag">&nbsp;&nbsp;An official website of the U.S. Government</span>
        <span class="alpha">This website is in development. <a id="notice--toggle" href="#">Learn more</a></span>
        <span class="foiagov"><a href="///www.foia.gov">Go to FOIA.gov</a></span>
      </div>
    </div>
  </div>
  <div id="notice" class="hidden">
    <div class="container">
      <div id="notice--close" tabindex="0" aria-label='Select to hide banner'><i class="fa fa-times"></i></div>
      <div class="notice--content">
        <h2>This site is in development. Tell us what you think!</h2>
        <p>We're working hard to make openFOIA a useful addition to the resources available at <a href="http://foia.gov">FOIA.gov</a>. Your feedback is important to us as we build this site. Email <a href="mailto:18f-foia@gsa.gov">18f-foia@gsa.gov</a> and let us know how it's working for you.</p>
      </div>
    </div>
  </div>
  <div id="topnav">
    <div class="container">
      <div id="logo">
        <a href="/">
          <h4><span>open</span><em>FOIA</em></h4>
        </a>
      </div>

      <nav>
        <ul>
          <li><a role="tab"
            {% if request and ('/agencies/' == request.path) %}class="active" aria-selected="true"{% endif %}
            href="/agencies/">Federal Agencies
          </a></li>
          <li><a role="tab"
            {% if request and ('/about/' == request.path) %}class="active" aria-selected="true"{% endif %}
            href="/about/">About This Project
          </a></li>
        </ul>
      </nav>
      {% if smallsearch %}
        {% include 'includes/small_search.html' %}
      {% endif %}
    </div>
  </div>
</header>
