<section class="search">
  <h3>
    What agency are you submitting a request to?
  </h3>

  <p>
    The United States government is made up of many different <strong>federal
    agencies</strong>. To file a FOIA request, you need to choose the agency
    that has the information you're looking for and request it directly from
    them.
  </p>

  <form class="agency">
    <div class="scrollable-dropdown-menu">
      <input class="typeahead agency" type="text" placeholder="Agency name">
    </div>
  </form>
</section>

<script src="/static/js/typeahead.bundle.js"></script>
<script src="/static/js/handlebars-v1.2.0.js"></script>
<script src="/static/js/requests/index.js"></script>
