<div class="search">
  <div class="container">
    <section class="search--content">
      <h2><label for="query">Want to make a FOIA request?</label></h2>

      <form class="agency" method="get" action="/agencies/">
        <div class="search--box scrollable-dropdown-menu">
          <form id="search">
            <div class="search-icon"><span class="fa fa-search"></span></div>
            {% set search_placeholder = 'Search for a topic or the agency you want to contact' %}
            <input id="query" class="typeahead agency" name="query" type="search"
              placeholder="{{ search_placeholder }}"
              aria-label="{{ search_placeholder }}"
              {% if query %}value="{{ query }}"{% endif %}>
            <input class="submit" type="submit" value="Search">
          </form>
        </div>
      </form>

      <div class="browse">
        <a href="/agencies/">Or browse a list of all federal agencies <i class="fa fa-arrow-right"></i></a>
      </div>

    </section>
  </div>
</div>
